.coin {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .details {
    display: flex;

    .coin-info {
      display: flex;
      align-items: center;
      flex-direction: column;

      .list {
        .icon-section {
          min-width: 100px;
        }

        .coin-name {
          display: flex;
          align-items: center;

          span:not(:first-child) {
            margin-left: 10px;
          }

          .rank {
            padding: 3px;
            border-radius: 3px;
            min-width: 25px;
            background-color: $orange;
            color: $white;
            text-align: center;
          }
        }

        .coin-price {
          margin-top: 25px;

          span {
            font-size: 20px;
          }
        }
      }
    }

    .social-info {
      padding: 16px;

      .single-social-info {
        display: flex;
        align-items: center;

        span {
          min-width: 120px;
        }

        a {
          margin-left: 15px;
          padding: 8px 16px;
          border-radius: 5px;
          background-color: $grey;
          color: $erieBlack;

          &:hover {
            color: $orange;
          }
        }

        + .single-social-info {
          margin-top: 15px;
        }
      }
    }
  }

  .horizontal-divider {
    margin: 50px 0;
  }
}
